! ~.Xresources


! ------------------------------------------------------------------------------
! URXVT Config
! https://wiki.archlinux.org/title/Rxvt-unicode
! ------------------------------------------------------------------------------

! Theme from https://wiki.gentoo.org/wiki/Rxvt-unicode
! black
urxvt.color0:  #251f1f
urxvt.color8:  #5e5e5e
! red
urxvt.color1:  #eb4509
urxvt.color9:  #eb4509
! green
urxvt.color2:  #94e76b
urxvt.color10: #95e76b
! yellow
urxvt.color3:  #ffac18
urxvt.color11: #ffac18
! blue
urxvt.color4:  #46aede
urxvt.color12: #46aede
! magenta
urxvt.color5:  #e32c57
urxvt.color13: #e32c57
! cyan
urxvt.color6:  #d6dbac
urxvt.color14: #d6dbac
! white
urxvt.color7:  #efefef
urxvt.color15: #efefef

! General
urxvt.title: urxvt terminal

! Disable all perl extension (If need to be faster)
! urxvt.perl-ext:
! urxvt.perl-ext-common:

! All perl extensions
urxvt.perl-ext-common:      default,matcher,font-size

! Theme
urxvt.background:           #0f0f0f
urxvt.foreground:           #c8c8c8
urxvt.letterSpace:          -1
urxvt.transparent:          true
urxvt.shading:              10

! ScrollBar
urxvt.scrollBar:            false
urxvt.scrollBar_right:      false
urxvt.scrollBar_floating:   false
urxvt.scrollstyle:          rxvt
urxvt.scrollTtyOutput:      false
urxvt.scrollWithBuffer:     true

! Fonts
urxvt.font:                 xft:Source\ Code\ Pro:size=11
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.autohint:               false
Xft.lcdfilter:              lcddefault

! Font re-size
! urxvt.perl-ext-common:      font-size
urxvt.keysym.C-Up:          perl:font-size:increase
urxvt.keysym.C-Down:        perl:font-size:decrease
urxvt.keysym.C-S-Up:        perl:font-size:incglobal
urxvt.keysym.C-S-Down:      perl:font-size:decglobal
urxvt.font-size.step:       1

! Clickable links
! urxvt.perl-ext-common:    default,matcher
urxvt.url-launcher:         /usr/bin/xdg-open
urxvt.matcher.button:       1
urxvt.keysym.C-Delete:      perl:matcher:last
urxvt.keysym.M-Delete:      perl:matcher:list
urxvt.matcher.rend.0:       Uline Bold fg5

