[include]
    name                = geekymoose
    email               = constantin.masson@umontreal.ca

[alias]
    s                   = status
    logone              = log --oneline --decorate --graph --branches
    logones             = log --oneline --decorate --graph --branches --format=\"%h %an %ae\"

[push]
    default             = simple
    recurseSubmodules   = on-demand

[pull]
    recurseSubmodules   = on-demand
    rebase              = false

[credential]
    helper              = cache

[merge]
    tool                = vimdiff
    conflictstyle       = diff3

[diff]
    tool                = vimdiff

[mergetool]
    keepBackup          = false
