[user]
    name                = geekymoose
    email               = constantin.masson@umontreal.ca

[push]
    default             = simple
    recurseSubmodules   = on-demand

[pull]
    recurseSubmodules   = on-demand
    rebase              = false

[credential]
    helper              = cache

[core]
    pager               = delta

[interactive]
    diffFilter          = delta --color-only

[delta]
    line-numbers        = true
    side-by-side        = true
    navigate            = true      # use n and N to move between diff sections
    light               = false     # set to true if you're in a terminal w/ a light background color (e.g.

[diff]
    tool                = vimdiff
    colorMoved          = true
    guitool             = vscode

[difftool "vscode"]
    cmd                 = code --wait --diff "$LOCAL" "$REMOTE"

[difftool "vimdiff"]
    cmd                 = nvim -d "$LOCAL" "$REMOTE"

[merge]
    tool                = vimdiff
    conflictstyle       = diff3

[mergetool]
    keepBackup          = false

[mergetool "vimdiff"]
    cmd                 = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'

[alias]
    s                   = status
    logone              = log --oneline --decorate --graph --branches
    logones             = log --oneline --decorate --graph --branches --format=\"%h %an %ae\"

